<% if @organization.errors.any? %>
    <div id="errors">
        <ul>
            <% @organization.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<%= form_for @organization do |f| %>
    <table id="formTable">
        <tr class="formRow">
            <td class="formCell">
                <%= f.label "Organization name" %><br>
                <%= f.text_field :name, :class => "formTextfield" %>
            </td>
            <td class="formCell">
                <%= f.label "Organization full name" %><br>
                <%= f.text_field :fullName, :class => "formTextfield" %>
            </td>
        </tr>
        <tr class="formRow">
            <td class="formCell">
                <%= f.label "Address" %><br>
                <%= f.text_area :address, :class => "formTextarea" %>
            </td>
            <td class="formCell">
                <%= f.label "Phone" %><br>
                <%= f.text_field :phone, :class => "formTextfield" %>
            </td>
        </tr>
        <tr class="formRow">
            <td class="formCell">
                <%= f.label "Email" %><br>
                <%= f.text_field :email, :class => "formTextfield" %>
            </td>
            <td class="formCell">
                <%= f.label "Tags" %><br>
                <%= f.text_area :tags, :class => "formTextarea" %>
            </td>
        </tr>
        <tr class="formRow">
            <td class="formCell formCenter" colspan="2">
                <%= f.submit "Save Organization", :class => "formSubmit" %>
            </td>
        </tr>
    </table>
<% end %>