<% if @organizations.blank? %>
    <%= render 'empty' %>
<% else %>
    <table  id="resultTable" cellspacing="0" cellpadding="0">
      <tr class="resultRow">
        <th class="tableHeader leftRadious">Organization name</th>
        <th class="tableHeader">Phone</th>
        <th class="tableHeader">Email</th>
        <th class="tableHeader rightRadious">Action</th>
      </tr>
     
      <% @organizations.each do |organization| %>
        <tr class="resultRow">
          <td class="resultCellLeft organizationName"><%= organization.fullName %></td>
          <td class="resultCellLeft organizationPhone"><%= organization.phone %></td>
          <td class="resultCellLeft organizationEmain"><%= organization.email %></td>
          <td class="resultCellCenter resultAction">
            <%= link_to (image_tag "magnifying13.png", :class => "quickShort"), organization %>
            <%= link_to (image_tag "edit45.png", :class => "quickShort sidePadding"), edit_organization_path(organization) %>
            <%= link_to image_tag("rubbish7.png", :class => "quickShort"), organization, method: :delete, data: {confirm: "Are you sure?"} %>
          </td>
        </tr>
      <% end %>
    </table>
<% end %>