<!DOCTYPE html>
<html>
<head>
  <title>Ticketer Server</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Temporary design -->
<div id="container">
  <div id="menu">
    <%= render 'menu' %>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</div>
<!-- Temporary design -->

</body>
</html>
